<IfModule mod_mime.c>
  AddType application/wasm .wasm
  AddType application/octet-stream .data
  AddType application/x-gzip .gz
  AddType application/javascript .js.gz
  AddType application/octet-stream .mem.gz
  AddType application/octet-stream .unityweb
</IfModule>

<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
  SetEnvIfNoCase Request_URI \.(?:gz|gif|jpg|jpeg|png|wasm|data)$ no-gzip
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.data\.gz$">
    Header set Content-Type "application/octet-stream"
    Header set Content-Encoding "gzip"
  </FilesMatch>
  <FilesMatch "\.js\.gz$">
    Header set Content-Type "application/javascript"
    Header set Content-Encoding "gzip"
  </FilesMatch>
  <FilesMatch "\.wasm\.gz$">
    Header set Content-Type "application/wasm"
    Header set Content-Encoding "gzip"
  </FilesMatch>
  <FilesMatch "\.mem\.gz$">
    Header set Content-Type "application/octet-stream"
    Header set Content-Encoding "gzip"
  </FilesMatch>
  <FilesMatch "\.unityweb$">
    Header set Content-Type "application/octet-stream"
  </FilesMatch>
</IfModule>